<div class="container container-fluid ">
    <p>create-product works!</p><br>
    <form [formGroup]="formObj">
        <div style=" margin-right: 60%;">
            <div>
                <label for="name" class="form-label">Name:</label>
                <input class="form-control" type="text" name="name" formControlName="name">
            </div>
            <div>
                <label for="name" class="form-label">Product Name:</label>
                <input class="form-control" type="text" name="productName" formControlName="productName">
            </div>
            <div>
                <label for="name" class="form-label">Product Description:</label>
                <input class="form-control" type="text" name="description" formControlName="description">
            </div>
            <div>
                <label for="name" class="form-label">Price:</label>
                <input class="form-control" type="text" name="price" formControlName="price">
            </div>
            <div>
                <label for="name" class="form-label">Quantity:</label>
                <input class="form-control" type="number" name="quantity" formControlName="quantity">
            </div><br>
            <div>
                <button class="btn btn-primary" (click)="submit()">Submit</button>&nbsp;
                <button class="btn btn-info" [routerLink]="['']">Back</button>
            </div>
        </div>
    </form>
</div>